.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
  color:rgba(255, 255, 255,0.7);
  background-color: #24292f;
}

.header__logo{
  width:  50px;
}

.header__item{
  font-weight: 600;
  color:#ffffff;
  font-size: 20px;
  line-height: 1.5;
}